@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body {
  background-color: #F2F2F2;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #666d89;
}

* {
  outline: 1px dotted red;
}


.header {
  height: 90px;
  background-color: #2D2F3B;
  color: white;
  border-bottom: 6px solid #4B4E61;

}
.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.logo
{
  float: left;
  font-size: 1.4rem;
  margin-top: 35px;
}

.salmon {
  color: #F16C65;
}

.links {
  float: right;
  font-size: 0.75rem;
  margin-top: 42px;
  color: #484e61;
  }

.links a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  background-color: #f16C65;
  padding-top: 40px;
  text-align: center;
  height: 555px;

}

.banner img {
  max-width: 790px;
  width: 100%;
}

.services {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  font-size: 1.1rem;
  line-height: 2.0rem;

}

.customDesign {
  width: 300px;
  height: 112px;
  font-size: 0.8rem;
  line-height: 1.75rem;

}

.customDesign img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 6px;
  margin-right: 6px;
}

.customDesign h3 {
  float: left;
  margin: 0;
  font-size: 1.1rem;
}

.customDesign p {
  float:left;
  width: 234px;
  margin: 0;
}

.responsiveLayout {
  width: 300px;
  height: 112px;
  font-size: 0.8rem;
  line-height: 1.75rem;
  margin-top: 35px;

}

.responsiveLayout img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 6px;
  margin-right: 6px;
}

.responsiveLayout h3 {
  float: left;
  margin: 0;
  font-size: 1.1rem;
}

.responsiveLayout p {
  float:left;
  width: 234px;
  margin: 0;
}

.leftContainer {
  width: 300px;
  float: left;

}

.inovativeIdeas {
  width: 300px;
  height: 112px;
  font-size: 0.8rem;
  line-height: 1.75rem;

}

.inovativeIdeas img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 6px;
  margin-right: 6px;
}

.inovativeIdeas h3 {
  float: left;
  margin: 0;
  font-size: 1.1rem;
}

.inovativeIdeas p {
  float:left;
  width: 234px;
  margin: 0;
}
.speechBubble {
  width: 302px;
  height: 112px;
  font-size: 0.8rem;
  line-height: 1.75rem;
  margin-top: 35px;

}

.speechBubble img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 6px;
  margin-right: 6px;
}

.speechBubble h3 {
  float: left;
  margin: 0;
  font-size: 1.1rem;
}

.speechBubble p {
  float:left;
  width: 235px;
  margin: 0;
}
.midcontainer {
  width: 300px;
  float: left;
  margin-left: 30px;

}

.loveAnswer {
  width: 300px;
  height: 112px;
  font-size: 0.8rem;
  line-height: 1.75rem;

}

.loveAnswer img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 6px;
  margin-right: 6px;
}

.loveAnswer h3 {
  float: left;
  margin: 0;
  font-size: 1.1rem;
}

.loveAnswer p {
  float:left;
  width: 234px;
  margin: 0;
}
.feelStar {
  width: 300px;
  height: 112px;
  font-size: 0.8rem;
  line-height: 1.75rem;
  margin-top: 35px;

}

.feelStar img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 6px;
  margin-right: 6px;
}

.feelStar h3 {
  float: left;
  margin: 0;
  font-size: 1.1rem;
}

.feelStar p {
  float:left;
  width: 234px;
  margin: 0;
}
.rightContainer {
  width: 300px;
  float: left;
  margin-left: 30px;

}
.boxContainer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
}

.serviesboxContainer {
  border-bottom: 6px solid #FFFFFF;

}
.whiteStrip {
  height: 500px;
}

.portfolioBackground {
  height: 860px;
  background-color: #2D303A;
}
.portfolioText {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 34px;
  font-size: 1.1rem;

}
.portfolioText h2 {
  font-size: 1.8rem;
}
.portfolioText img {
  width: 288px;
}
.portfolioimages {
	width:960px;
	margin-left: auto;
  margin-right: auto;

}

.portfolioimages div{
	width: 220px;
	height: 187px;
	float: left;
	margin: 10px;
	background: #454B5E;
}

.whiteStrip2 {
  height: 730px;
  border-bottom: 6px solid #FFFFFF;
}
.aboutUsText {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  line-height: 1.75rem;
  font-size: 1.1rem;
}
.portraits {
  width:960px;
  margin-left: auto;
  margin-right: auto;
}
.portraits div {
  width: 300px;
	height: 302px;
	margin: 10px;
	background: #454B5E;
  float: left;
}
.portraitText {
  width: 940px;
  height: 454px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7rem;
  line-height: 1.4rem;
  outline-color: blue;
}
.portraitText h3 {
  font-size: 1.3rem;
  margin: 0px;
  line-height: 0.75rem;
}
.portraitText img {
  width: 155px;
  margin-top: 10px;
}

.portraitTextLeft {
  width: 300px;
  height: 121px;
  padding-top: 10px;
  float: left;
}
.portraitTextMid {
  width: 300px;
  height: 121px;
  padding-top: 10px;
  float: left;
  margin-left: 20px;
}
.portraitTextRight {
  width: 300px;
  height: 121px;
  padding-top: 10px;
  float: left;
  margin-left: 20px;
}
.quoteStrip {
  height: 655px;
  background-color: #f06C64;
  color: #f0D8D9;
}

.quote {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    line-height: 1.75rem;
    font-size: 1.1rem;

}
.quoteInput {
  width: 630px;
  height: 365px;
  margin-left: auto;
  margin-right: auto;
}
.inputName {
  background-color: #D6564F;
  width: 630px;
  height: 35px;
  border-radius: 10px;
}
.inputEmail {
  background: #D6564F;
  width: 630px;
  height: 35px;
  border-radius: 10px;
  margin-top: 20px;
}
.inputSubject {
  background: #D6564F;
  width: 630px;
  height: 35px;
  border-radius: 10px;
  margin-top: 20px;
}
.contactInfo {
  width: 310px;
  height: 200px;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@media screen and (max-width: 550px) {

    .logo {
      float: none;
      text-align: center;
      margin-top: 0;
      padding-top: 15px;
    }
    .links {
      float: none;
      text-align: center;
      margin-top: 16px;
    }
}
